main {
    background-color: lightseagreen;
  }
  header {
    background-color: lightcoral;
  }
  nav {
    background-color: lightgreen;
  }
  aside {
    background-color: lightyellow;
  }
  footer {
    background-color: lightpink;
  }