/* TAGS */
body {
  background: lightslategrey;
  font-family: 'Courier New', Courier, monospace;
}

form {
  display: flex;
  flex-direction: column;
  border: 2px groove lightcoral;
  width: 40%;
  padding: 5% 2% 5% 2%;
  border-radius: 5px;
  background-color: lightseagreen;
  box-shadow: 10px 4px 5px 0px rgba(0, 0, 0, 0.98);
}
input {
  margin: 10px;
  padding: 5%;
  font-size: 20px;
}
h1{
    color:lightgreen;
    text-decoration: underline;
    margin:0 auto;
}

/* CLASS */
.layer-formulario {
  display: flex;
  justify-content: center;
}
.input-focus:focus {
  background-color: aqua;
}

/* MEDIA QUERY */
@media screen and (max-width:768px) {
  form{
    width:40%;
  }
}
/* SELECTORS */
input[type="submit"] {
  text-decoration: none;
  padding: 10px 20px 10px 20px;
  background: #ee9d31;
  border: 1px red solid;
  color: white;
}
input[type="submit"]:hover{
  background-color: #FC4D4D;
}